<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tacoraronaldoo"
        tools:targetApi="31">
        <activity
            android:name=".activitys.ActualizarCuentaActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RegistrarActivity"
            android:exported="false" />
        <activity
            android:name=".dataBase.RegistroRestaurant"
            android:exported="false" />
        <activity
            android:name=".activitys.CarritoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CalificarActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.SeguimientoActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.HistorialActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.RestaurantInformacion"
            android:exported="false" />
        <activity
            android:name=".activitys.MenuCartaActivity"
            android:exported="false"
            android:theme="@style/Theme.Tacoraronaldoo" />
        <activity
            android:name=".activitys.InformacionActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CarteraActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.CuentaActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.welcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".dataBase.registerActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="false" />
        <activity
            android:name=".dataBase.RegisterGuardadoActivity"
            android:exported="false" />
    </application>

</manifest>